<!DOCTYPE HTML>
<html>
<head> 
 <title>WebConf Mashup</title>
 <link rel="stylesheet" href="/static/css/base.css" />
 <link rel="stylesheet" href="/static/css/jquery-ui-1.8.2.custom.css" />
 {% block stylesheets %} {% endblock %}
 <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
 <script src="http://platform.twitter.com/anywhere.js?id={{TWITTER.API_KEY}}&v=1" type="text/javascript"></script>
 <script type="text/javascript" src="http://www.google.com/jsapi"></script>
 <script type="text/javascript" src="/static/js/jquery-ui-1.8.2.custom.min.js"></script>
 <script src="/static/js/timepicker.js" type="text/javascript"></script>
 <!-- The following file implements the facebook API, mostly FBML tags -->
 <script src="http://connect.facebook.net/en_US/all.js"></script>
 <!-- The following file implements the @Anywhere twitter api: http://dev.twitter.com/anywhere/begin -->
 <script type="text/javascript" src="/static/js/twitter.js"></script>
 <!-- The following implements some google calendar functionality -->
 <script type="text/javascript" src="/static/js/gcalendar.js"></script>

 <script type="text/javascript" src="/static/js/facebook.js"></script>



 {% block scripts %} {% endblock %}

 <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>

<body>
<!-- This is to get facebook tags working -->
<div id="fb-root"></div>
<script>

        FB.init({appId: '{{ FACEBOOK_APP_ID }}', status: true, cookie: true, xfbml: true});
        FB.Event.subscribe('auth.sessionChange', function(response) {
            if (response.session) {
                $.get('/facebook-wall/',function(data){
                    $('#facebook-feed').html(data);
                });
                $.get('/facebook-events/',function(data){
                    $('#facebook-events').html(data);
                });
            } else {
                $('#facebook-feed').html('');
                $('#facebook-events').html('');
            }
        });
</script>
<!-- Here ends facebook tags tweak -->

<div id="container">
	<div id="main">
	    <div id="header">
	    	<h1>Mashup Demo</h1>

	    </div>

		<div id="menu">
			<ul>	    
        		<li><a href="#google">Google</a></li>
                <li><a href="#twitter">Twitter</a></li>                
                <li><a href="#facebook">Facebook</a></li>

			</ul>

            <div id="facebook">
                <fb:login-button id="faceboob_login" autologoutlink="true" perms="email, publish_stream, create_event, user_events, offline_access, read_stream"></fb:login-button>
                <div id="facebook_menu">
                    <ul>
        		        <li><a href="#wall">Wall</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#more">More...</a></li>
			        </ul>

                    <div id="wall">
                        {% if facebook_wall %}
                            <form id="facebook-status-form" action="/facebook-wall/" method="POST">{% csrf_token %}
                            {{ status_form }}<input type="submit" name="send" value="send">
                            </form>
                        {% endif %}
                        <ul id="facebook-feed" class="feed-list">
                        {% if facebook_wall %}
                            {{ facebook_wall|safe }}
                        {% endif %}
                        </ul>

                    </div>

                    <div id="events">
                        {% if facebook_events %}
                            <form id="facebook-event-form" action="/facebook-events/" method="POST">{% csrf_token %}
                            {{ event_form }}<input type="submit" name="send" value="send">
                            </form>
                        {% endif %}
                       <ul id="facebook-events" class="feed-list">
                       {% if facebook_events %}
                        {{ facebook_events|safe }}
                       {% endif %}
                       </ul>
                    </div>

                    <div id="more">
                        <fb:friendpile></fb:friendpile>
                        <fb:like-box profile_id="{{ FACEBOOK_APP_ID }}"></fb:like-box>
                    </div>
                    
                </div>
			</div>

			<div id="twitter">
				<div id="twitter-connect-placeholder"></div>
				<div id="status"></div>
				<ul id="timeline" class="feed-list"></ul>
			</div>
			<div id="google">
				<!-- For some reason, the js api needs an image in the page -->				
				<img src="/static/images/auth.png" style="position:absolute; top: -1000px;"></img>
				<button id="google-login">Login to calendar</button>
				<div id="event-form" style="display: none;">
					<form id="event-details">
						<table>{{gevent_form}}</table>
						<button id="create-event">Create</button>
					</form>
				</div>
				<span id="calendar-error"></span>
				<ul id="calendar-feed"></ul>
			</div>
		</div>

	</div>
</div>
</body>

</html>

